#header
  .name
    .right.nametext
      | Henry Zou
      small.title(hide-xs) Front End Engineer
    md-menu.layout-row(hide-gt-xs)
      md-button.md-icon-button(ng-click='layoutCtrl.openMenu($mdOpenMenu, $event)')
        md-icon.fa.fa-2x(md-font-icon='fa-bars')
      md-menu-content(width='4')
        md-menu-item(ng-repeat="item in :: layoutCtrl.navItems | orderBy:'tabIndex':false" ui-sref="{{::item.state}}")
          md-button
            | {{::item.tabName}}
        md-menu-divider
        md-menu-item
          a.md-button(target="_blank" href="https://www.linkedin.com/in/zouhenry" title="Henry Zou on Linkedin")
            md-icon.fa.fa-lg(md-font-icon='fa-linkedin', md-menu-align-target='')
              | LinkedIn
        md-menu-item
          a.md-button(target="_blank" href="https://github.com/zouhenry" title="Henry Zou on GitHub")
            md-icon.fa.fa-lg(md-font-icon='fa-github', md-menu-align-target='')
              | Github
        md-menu-item.hide
          a.md-button(target="_blank" href="https://github.com/zouhenry" title="Henry Zou on GitHub")
            md-icon.fa.fa-lg(md-font-icon='fa-youtube', md-menu-align-target='')
              | Youtube
  a#git-fork(hide-xs href="https://github.com/zouhenry/portfolio" target="_blank")
    img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")
  .right
    .menu.layout-row(hide-xs)
      .menu-item(ng-repeat="item in :: layoutCtrl.navItems | orderBy:'tabIndex':false")
        a(ui-sref="{{::item.state}}" ng-class="{active: layoutCtrl.isCurrentState(item.state)}") {{::item.tabName}}
    small.title(hide-gt-xs) Front End Engineer
.avatar
  //img(src="images/portfolio.jpg")
