#header.layout-row(layout-align="space-between center")
  .brand.layout-row(flex layout-align="start center")
    .avatar logo
    .name Henry Zou
  .menu.layout-row
    .item item
    .item item2
    .item item3
    .item item4
#content
  ui-view