$default-font-size: 16px;
$bold-font-weight: 500;
$page-width: 60rem;

body {
  background-color: #EFF0F1;
  font-size: $default-font-size;
  color: #666;
}

a {
  text-decoration: none;
}

.center-panel {
  max-width: $page-width;
  background: white;
  padding: 2rem;
  border-radius: 4px;
}

.collapse {
  padding: 0;
  margin: 0;
}

%spacer {
  max-width: 60rem;
}

#header {
  padding: 0rem 1.25rem;
  background: white;
  border-bottom: 1px solid lightgray;
  text-transform: uppercase;
  font-weight: 200;

  .brand {
    .avatar {
      margin: 0 .5rem;
      display: none;
    }
    .name {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: -2px;
    }
  }

  .menu {
    //display: flex;
    //flex-direction: row;
    .menu-item {
      margin: 0 0.625rem;
      a {
        color: #979797;
        background-color: transparent;
        line-height: 3.75rem;
        font-size: 1.25rem;
        text-transform: uppercase;

        &:hover {
          color: #333;
        }
      }
    }
  }

  .social-media {
    border-left: 1px solid lightgray;
    margin-left: 2rem;
    padding-left: 2rem;
    a {
      margin: 0 0.375rem;
      line-height: 3.75rem;
      color: #979797;
      font-size: 1.25rem;
      text-transform: uppercase;

      &:hover {
        color: #333;
      }

    }
  }
}

#content {
  padding: 1.5rem;
}

// project card
.project-card {
  text-align: center;

  md-card-header {
    align-self: center;
    font-weight: $bold-font-weight;
    font-size: 1.25rem;
  }

  md-card-footer {
    font-weight: $bold-font-weight;
    font-size: 0.875rem;
  }
}

input[type="text"] {
  padding: 0.5rem;
}

#todo {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;

  .todo-item {
    padding: 1rem;
    border-bottom: 1px solid #E5E5E5;

    &:focus {
      outline: none;
    }

    &.todo-add {
      border-bottom: none;
    }

    &.todo-completed {
      p {
        font-weight: 200;
        font-style: italic;
        text-decoration: line-through;
      }
    }

    .check {
      margin-right: 1rem;
    }
  }
}