html {
  font-size: $font-size;
  @media screen and (max-width: $layout-breakpoint-xs) {
    font-size: $xs-font-size;
  }
}

body {
  background-color: #EFF0F1;
  color: $font-color;
}


.center-panel {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

.collapse {
  padding: 0;
  margin: 0;
}

%spacer {
  max-width: 60rem;
}


input[type="text"] {
  padding: 0.5rem;
}