#todo.layout-column.center-panel
  md-subheader.md-no-sticky.active On-going
    .todo-item.layout-row(layout-align="space-between center"
    ng-repeat="todo in todoCtrl.activeTodos")
      input.check(type="checkbox" ng-click="todoCtrl.archive(todo)")
      p(flex) {{todo.description}}
    .todo-item.todo-add
      form(ng-submit="todoCtrl.create()" flex)
        md-input-container.layout-fill
          label type in a new item and press enter...
          input(type="text" ng-model="todoCtrl.newTodo" autocomplete="off")

  .completed(ng-if="todoCtrl.completedTodos.length > 0")
    md-subheader.md-no-sticky Completed
    .todo-item.todo-completed(layout="row"
    layout-align="space-between center"
    ng-repeat="todo in todoCtrl.completedTodos")
      md-button.md-primary(ng-click="todoCtrl.reactivate(todo)") restore
      p(flex) {{todo.description}}
      md-button.md-warn(ng-click="todoCtrl.remove(todo)") &times;
