doctype html
html(lang='en', ng-app='portfolio')
  head
    meta(http-equiv="X-UA-Compatbile" content="IE-Edge")
    meta(name="description" content="")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(charset='UTF-8')
    title
      | Portfolio
    link(rel='stylesheet', href='app.css')
  body
    ui-view
    script(src='vendor.js')
    script(src='app.js')
    script(src='templates.js')