doctype html
html(lang='en', ng-app='portfolio')
  head
    meta(charset='UTF-8')
    title
    link(rel='stylesheet', href='app.css')
  body
    ui-view
    script(src='app.js')
    script(src='templates.js')